@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url(fontes/PassionOne-Bold.ttf) format('truetype');

    font-weight: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf) format('truetype');
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: PassionOne, Arial, Helvetica, sans-serif;
    --fonte3: Sriracha, Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    padding: 50px;
    
    text-align: center;
    color: white;
}

header > h1{
    font-family: var(--fonte2);
    font-variant: small-caps;

    font-size: 10vw;
}

header > p{
    color: white;
    font-family: var(--fonte1);
    font-size: 3vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


section{
    background-color: white;
    padding: 60.8px;
    padding-left: 30px;
    line-height: 2em;

    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p > span{
    display: block
}

section > p > span:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

section.img{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.256);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section > p{
    padding-bottom: 2em;

}

section.img > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 2%;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.379);

    display: inline-block;
    padding: 10px;
    width: auto;
}

section#img1{
    background-image: url(pacote-d012/imagens/background001.jpg);

}

section#img2{
    background-image: url(pacote-d012/imagens/background002.jpg);

}


footer{
    background-color: black;
    text-align: center;

    color: white;
    font-family: var(--fonte1);
    padding: 15px;
}
